body {
  background-color: cornflowerblue;
}

div {
  margin: 1em;
  padding: 1em;
}

p {
  margin: 0;
  padding: 0;
}

.no-flex {
  border: 1px solid black;
}

.flex {
  border: 1px dotted black;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-items: flex-end;
  height: 150px;
}